/vendor/
node_modules/
npm-debug.log
yarn-error.log
/public/app-manifest.json
/public/mix-manifest.json
/public/build

public/storage
public/hot

storage/*.key
storage/api-docs/api-docs.json

.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

.idea/*
.vscode/*
.DS_Store
.phpstorm.meta.php
_ide_helper.php
.npmrc
/public/js/app.js.LICENSE.txt
